.activity {
  background-color: var(--card-background);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  
}

.activity:hover {
  background-color: #ebebeb;
}

.activity-title {
  font-size: var(--ff-head);
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 10px;
}

.activity-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.activity-image img {
  max-width: 100%;
  max-height: 150px;
  border-radius: 4px;
  object-fit: cover;
}

.activity-details {
  font-size: var(--ff-body);
  color: var(--clr-body);
  margin-bottom: 15px;
}

.activity-price {
  font-size: var(--ff-body);
  font-weight: bold;
  color: var(--clr-accent);
  margin-bottom: 5px;
}

.activity-rating {
  font-size: var(--ff-body);
  color: var(--clr-accent);
  margin-bottom: 5px;
}

.activity-offer {
  font-size: var(--ff-body);
  color: var(--clr-accent);
  margin-bottom: 10px;
}

.activity-supplier {
  font-size: var(--ff-body);
  color: var(--clr-body);
}

