.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .search-input {
    width: 200px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
  }
  
  .search-input:focus {
    border-color: var(--clr-accent);
  }
  
  .search-input::placeholder {
    color: var(--clr-body);
    opacity: 0.7;
  }
  
  .search-button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: var(--clr-accent);
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #ff9500;
  }
  