:root {
  --page-background: #F4F6F8;
  --card-background: #FFFFFF;
  --text-color: #333333;
  --ff-head: "Merriweather", serif;
  --ff-body: "Muli", sans-serif;
  --fs-body: 1.8rem;
  --fs-h2: 4rem;
  --fs-h4: 2.4rem;
  --fs-h5: 1.2rem;
  --clr-head: hsla(208, 11%, 15%, 1);
  --clr-body: hsla(208, 9%, 31%, 0.8);
  --clr-accent: hsla(216, 97%, 61%, 1);

  box-sizing: border-box;

}

/* Example usage for cards and page background */

body {
  background-color: var(--page-background);
  color: var(--text-color);
}


.activity-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 0 5% 5%;
}


/* Media query for tablet devices */
@media screen and (max-width: 768px) {
  .activity-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Media query for mobile devices */
@media screen and (max-width: 480px) {
  .activity-list {
    grid-template-columns: repeat(1, 1fr);
  }
}